<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restro Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    #image{
        width:100%;
        height : 300px;
        }
    .sidenav {
    height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 50px;
  background: #007991;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
    </style>
</head>
<body>
<div class="sticky-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
    <a class="navbar-brand" href="/"> Restro Buddy</a>
    <div class="collapse navbar-collapse">
         {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            {% if user.is_staff %}
            <li class="nav-item">
        <a class="nav-link " style="color:green;" href="/allorders">Orders</a>
      </li>
            <li class="nav-item">
        <a class="nav-link " href="/">{{user.username}}</a>
      </li>
            {% else %}
             <li class="nav-item">
        <a class="nav-link" style="color:red;" href="/orders">Order</a>
      </li>
            <li class="nav-item">
        <a class="nav-link " style="color:green;" href="/order/{{user}}">My Order</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/">{{user.username}}</a>
      </li>
            {% endif %}
            <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
        </ul>

    {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
      </li>
        </ul>
        {%endif%}
    </div>

</nav>
 </div>
<div class="sidenav">
    {% for category in category %}
  <a href="/{{category.id}}">{{category.name}}</a><hr>
  {% endfor %}
</div>

<div class="container">
    <br>
    {% block content%}
    {% endblock %}
</div>
<br>
<br>

<footer class="text-muted">
  <div class="container text-center">
    <p>© Hira Prajapati {% now "Y" %}</p>
  </div>
</footer>
</body>
</html>